@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'breadcrumbs breadcrumbs breadcrumbs'
    'menu main main';
  grid-gap: 0;
  padding: 0;
  font-family: system-ui, monospace;
}

body>header {
  grid-area: header;
}

body>nav#breadcrumbs {
  grid-area: breadcrumbs;
  border-bottom: 1px solid grey;
}

body>nav#menu {
  grid-area: menu;
  max-width: 250px;
  border-right: 1px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

main {
  grid-area: main;
  min-height: 80vh;
}

header>nav, main {
  padding: 15px;
}

header>nav {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: bold;
}

nav#menu * {
}

nav#menu a {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

main {
}

blockquote::before {
  content: "“";
}

blockquote::after {
  content: "”";
}

blockquote {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 2em;
}
