table {
  border-collapse: collapse;
  width: 60%;
  min-width: 400px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:hover {
  background-color: lightgrey;
}

table th {
  background-color: black;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-family: bold;
}
