<div style="display: flex; flex-direction: row; align-items: center">
  <img alt="a bad man" src="/jenkins-home.png" height=200px"/>
  <blockquote style="margin-left: 1.5em;">
    I shall do as you recommend, <span style="font-style: italic">sir</span>
  </blockquote>
</div>
